@import "./constants.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    padding:0px;
    margin:0px;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
}
.horizontal-menu{
    display:flex;
    list-style: none;
    padding-left:0;
    padding-right: 20px;
}
.font-small-12{
    font-size: 12px;
    line-height: 25px;

}
.font-14-h5{
    font-size: 14px;
    margin:0px 0px;
}
.font-size-20{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -.33px;
    line-height: 28px;
    margin:5px;
}
.font-size-16{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.18px;

   

}
.no-bullets{
    list-style: none;
    padding:0px;
    line-height: 30px;
}
.chat-btn{
    display: flex;
    background-color: var(--darkpurple);
    width:109px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    color: var(--white);
    right:20px;
    bottom:10px;
    position: fixed;
    

}
.chat-btn p{
    padding-left: 5px;
    font-size: .8rem;
    font-weight: 500;
}
.body-contents-main{
    width:70%;
    margin: auto;

}
.body-contents{
    width:60%;
    margin: auto;
}
.section-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: var(--black);
    margin-bottom: 40px;
    margin-top:40px;
}
.section-subtitle-red{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    letter-spacing: -.09px;
    color:var(--red);
    margin-top: 120px;;
}
.section-subtitle-black{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 15px;
    color: var(--black);
    letter-spacing: -.33px;
}
.section-body-black{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -.33px;
    color:var(--black);
    line-height: 28px;
}
.navbar-fullwidth{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    position:sticky;
    top:0;
    z-index: 10;
    background-color: var(--white);
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.1);

}
.navbar{
    display: flex;
    width: 70%;
    padding:20px; 
    justify-content: space-between;
}
.navbar-left{
    display: flex;
}
#primary-logo{
    width:90px;
    height: 28px;;
}
.menu-items ul{
display: flex;
margin-top: 8px;
}
.menu-items ul li{
    font-size: 16px;
    list-style: none;
    color: var(--black);
    margin-right: 20px;
    font-weight: 400;
}

.navbar-right{
display: flex;
justify-content: flex-end;


}
.search-box{
    width: 260px;
    height: 32px;  
    background-color: var(--search-bg-grey);
    border-radius: 10px;
    padding: 2px;
    align-items:baseline;
}
.search-box:focus{
    border: 2px solid black;
}
#search-icon{
padding: 6px;
}
#search-text{
    outline: none;
    border: none;
    width:220px;
    background-color: var(--search-bg-grey);
}
.purple-filled-btn{
    margin-left: 20px;
    background-color: var(--purple);
    width:128px;
    height: 38px;
    border-radius: 20px;
    color: var(--white);
    font-weight: 900;
    border: none;
    font-size: 14px;
}
.outlined-btn{
    margin-left: 20px;
    width:100px;
    height: 38px;
    border-radius: 20px;
    color: var(--purple);
    font-weight: 900;
    border: 1px solid #41246e;
    font-size: 14px;
    background-color: var(--white);
}

.banner-main{
    margin: none;
    height: 75vh;
    width:100%;
    padding: none;
    background-image: -webkit-linear-gradient(330deg,var(--darkblue)12%,var(--purple)20%,var(--white) 75%);
    margin-bottom: 100px;
}
.banner-contents{
    
    display: flex;
    align-items: center;
}
.banner-left-section{
    margin: none;
    color: var(--white);

}   
.main-heading{
    color: var(--white);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2px;
    padding-top: 3.8rem;
    margin-top:0px;
    
}
.banner-links li{
    padding: 0px 20px;
    margin-left: 0;
    color: var(--white);
    font-size: 16px;
    border-right: 1px solid var(--white);
}
.banner-links li:last-child{
    border: none;
}
.banner-links{
    padding:0px;
}
.phone-number{
width:467px;
height:64px;
background-color: var(--white);
border-radius: 15px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 10px;
}
#country-code{
    color: var(--black);
}
.phone-field{
    border:none;
    outline:none;
    width:350px;
}
.go-button{
    width:48px;
    height: 48px;
    background-color: var(--darkblue);
    border-radius: 10px;
    border:none;
}
.charge-cards-container{
    width: 38vw;
    display: flex;
    margin-top: 40px;
}
.brokerage{
    margin-left:20px;
}
.charge-card{
    width:226px;
    height: 100px;
    background-color:var(--darkblue);
    border-radius: 5px;
    border-left: 5px solid var(--lightblue);
    line-height: 8px;
    padding: 10px;
}
.charge-card p{
    margin-left: 0px;
    line-height: 15px;
 
}
.banner-bottom{
    display: flex;
    padding-top:20px;
    width:35vw;
    height: 45px;
}

.banner-btm-row1{
display: flex;
align-items: center;

}
.banner-btm-row1 h2{
    margin: 0px 0px;
}
.banner-btm-col{
    border-right: 1px solid var(--white);
    padding:10px;
    width:130px;
    height: 45px;
}
.banner-btm-col h6{
font-size: 14px;
padding-top: 10px;
margin: 0px;
font-weight: 600;
}
.banner-btm-col:last-child {
    border-right:none;
}
.banner-btm-col:first-child{
    padding-left:0px;
}
.banner-thumbnail-img{
    width:24px;
    height:24px;
    margin-left: 10px;
    padding-top: 0px;
}
.tiger-global-cont{
    height: 22px;
    width: 74px;
    background-color: var(--white);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    margin-left: 10px;
}
.banner-right-section{
    width: 624px;
    height: 640px;
    padding: 0px;

}
.banner-right-section img{
    width: 600px;
    height: 625px;
}
.asset-heading{
    text-align: center;
}
.ways-to-grow-items li:first-child{
    opacity: 1;   
    border-bottom: 5px solid var(--purple);
}
.ways-to-grow-items{
    justify-content: center;
}
.ways-to-grow-items li{
padding:10px 80px 20px 80px;
padding-bottom: 20px;
font-size: 20px;
line-height: 24px;
font-weight: 600;
color: var(--purple);
opacity: .5;
border-bottom: 2px solid var(--black);
}
.stocks{
    display: flex;
    margin-top:60px;
    justify-content: center;
    margin-bottom: 250px;

}
#stocks-title{
    font-weight: 600;
    font-size: 32px;
    color: var(--purple);
    margin-top: 5px;
}
.stocks-col2{
    padding-left: 100px;
}
.stocks-bullets{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--grey);
}
.start-inv-btn{
    padding:10px;
    margin:20px 0px;
    width:150px;
    height: 50px;
}
.pricing-section-card{
   width: 950px;
    height:580px;
    background-color: var(--purple);
    border-radius: 16px;
    position: relative;
    color: var(--white);
    margin: auto;
}
.pricing-title{
font-size: 48px;
line-height: 56px;
letter-spacing: -1.07px;
padding: 80px 80px 20px 80px;
}
.pricing{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
#pricing-tree{
    position: absolute;
    right: 60px;
    top:-80px;
}
.price-text{
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    margin: 5px 0px;

}
.pricing-bottom-row{
    display: flex;
    padding:40px;
    justify-content: space-between;
}
.white-filled-btn{
    margin-left: 20px;
    background-color: var(--white);
    width:163px;
    height: 52px;
    border-radius: 40px;
    color: var(--purple);
    font-weight: 900;
    border: none;
    font-size: 14px;
}
.calculator-button{
    margin:40px 0px;
    text-align: center;
}

.calc-btn{
    background-color: var(--white);
    width:449px;
    height:54px;

}

.benefit-card-row1{
    display: flex;
    justify-content: center;
    margin-bottom:20px;
    
}

.benefit-card-col{
    width: 470px;
    height:443px;
    border-radius: 16px;
    margin:20px;
}
#benefit-card-img{
    float: right;
    width:200px;
    height: 200px;
    margin-top: 50px;
}
.card-text-bottom{
padding-top:200px;
padding-left: 50px;
}
.benefit-card-1{
background-color: var(--lightyellow);

}
.benefit-card-2{
background-color: var(--orange);
}
.benefit-card-row2{
    width:990px;
    height:407px;
    background-color: var(--lightblue);
    border-radius: 16px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: auto;
    
}
.benefit-card-row2-col1{
    margin-top:200px;
    padding-left:40px;
}

.benefit-card-row2-col2{
    padding-top:52px;
}    
.centre-align{
    text-align: center;
}
.learning-cards-container{
    display: flex;
    justify-content: space-evenly;
    
}
.learning-title button{
margin-top:50px;
}
.learning-card-col{
    background-color: var(--lightpurple);
    border-radius: 8px;
    border: 1px solid var(--black);
    width:260px;
    height: 320px;
    padding: 30px;
    margin-bottom: 100px;

}
.purple-text{
    color: var(--purple);
}
.forward-btn{
padding:20px;
border: 2px solid var(--black);
border-radius: 50px;
}

.press-logos{
    margin-bottom:80px;
}
.customer-mosiac{
    display: flex;
    justify-content: center;
}
.cust-mosaic-item{
    border-radius: 20px;
    margin: 10px;  

}
.cust-mosaic-dummy-rect{
    margin: 10px;  
width:310px;
height:150px;
border-radius: 20px;
}
#cust-mosaic-col1-rect{
    background-color: var(--lightblue);
}
#cust-mosaic-col2-rect{
    background-color: var(--orange);
}
#cust-mosaic-col3-rect{
    background-color: var(--gold);
}
.testimonial{
    margin-top:80px;
}

.testimonial-container{
    display: flex;
}
.testimonial-col{
    margin: 10px;
}
.testi-customer-name{
    display: flex;
    margin-top: 50px;
   
    
    
}
.cust-avatar{
    width:32px;
    height:32px;
}
.award-logo-container{
width:210px;
height:180px;
border:1px solid var(--grey);
opacity: .5;
border-radius: 8px;
text-align: center;
margin-top: 50px;
}
.award-logo-container img{
    margin-top: 50px;
}
.award-card-col{
    width:210px;
}
.award-cards-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;;
}
.download-app{
    width:930px;
    height:348px;
    background-color: var(--lightgrey);
    display: flex;
    padding: 30px 30px 0px 30px;
    border-radius: 30px;
    justify-content: center;
    margin: auto;
}
.download-app-icons{
    width:150px;
    height: 50px;
}
.download-app-col2{
    margin:50px;
}
footer{
    background-color: var(--darkpurple);
    margin-top:150px;
    padding-top: 40px;
    color: var(--white);
}
.footer-row1{
    display: flex;
    justify-content: space-evenly;
}
.upstox-footer-logo{
    width: 110;
    height: 32px;

}
.footer-download-icons{
    width:140px;
    height:42px;
    margin-bottom: 10px;

}
.footer-row1-title{
    margin-top:0px;
    color: var(--aluminium);
}
.footer-row-2{
    display: flex;
    color: var(--white);
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(148, 23, 250, 0.5); 
}
.footer-row-2 ul li{
padding: 10px;
border-right: 1px solid var(--white);
}
.footer-row-2 ul li:last-child{
    border-right:none;
}

.footer-expand-menu-container ul li{
padding-left: 60px;
padding-top:10px;
    padding-bottom:10px;


}
.footer-btm-container{
    display: flex;
    justify-content: space-between;
}
.social-icons{
    padding-right: 10px;
}
.footer-expand-menu-container{
    
border-bottom: 1px solid rgba(148, 23, 250, 0.5);
} 
.footer-para-text{
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #eeebe6!important;
    opacity: .5;
}
.footer-btm-left-text li{
    padding-right: 20px;

}
